h1 {
      border: 3px color black solid;
      text-align: center;
}
.car{
    height: 300px;
    weight: 500px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    max-height: 100vh;
}
.up-section {
    border: 3px black solid;
    text-align: center;
    height: 60px;
}
/* this is nav bar */
.nav {
    display:flex;
    justify-content: center;
    border: 1px  black solid;
    text-align: center;
    height: 30px;
    background-color: black;
}


.hero {
    background-image: url(https://images.pexels.com/photos/2794001/pexels-photo-2794001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: 1000px;
   
    border: 1px  black solid;
    text-align: center;
    height: 180px;
}

.main-section {
    border: 1px  black solid;
    text-align: center;
    height: 120px;
}


.footer {
    border: 1px black solid;
    text-align: center;
    height: 30px;
}
/* this is nav buttion group */
.nav-buttions-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: white;
}

li {
    display: inline-block;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}