h1 {
      border: 3px color black solid;
      text-align: center;
}
.car{
    height: 300px;
    weight: 500px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    max-height: 100vh;
}
.up-section {
    border: 3px black solid;
    text-align: center;
    height: 60px;
}
/* this is nav bar */
.nav {
    display:flex;
    justify-content: center;
    border: 1px  black solid;
    text-align: center;
    height: 30px;
    background-color: black;
}


.hero {
    background-image: url(https://images.pexels.com/photos/17122728/pexels-photo-17122728/free-photo-of-a-nintendo-switch-and-a-bunch-of-super-mario-game-items.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: 90%;
   

    text-align: center;
    height: 480px;
}

.main-section {
    
    text-align: center;
    height: 120px;
}



.footer {
    background-color: lightgray;
    text-align: center;
    height: 30px;
}
/* this is nav buttion group */
.nav-buttions-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: white;
}

li {
    display: inline-block;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li:hover {
    font-size: 18px;
    display: inline-block;
    color: rgb(29, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;

}